* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 14px / 1.2 sans-serif;
}
button, input, select, textarea,
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
h1, h2, h3, h4, h5, h6,
address, em, i, b,
caption, th {
    font-weight: normal;
}
em {
    font-style: normal;
}
ul, ol, li {
    list-style: none;
}
a {
    text-decoration: none;
}
a, button, input, select, textarea {
    outline: 0;
}
button {
    border: 0;
    background-color: transparent;
}
fieldset, img {
    border: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}
input[type="search"] {
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.clearfix:after {
    content: ".";
    display: block; 
    clear: both; 
    height: 0; 
    font-size: 0; 
    visibility: hidden;
}
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border: 0;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #999;
}
::-webkit-scrollbar-track {
    background: transparent;
    border: 0;
    border-radius: 0;
}
::-webkit-scrollbar-track:hover {
    background: #fafafa;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
html, body {
    height: 100%;
    overflow: hidden;
}
.app,
.map,
.wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.app,
.map {
    position: relative;
}
.map {
    position: absolute;
    transition: 0.5s;
}
.map-bd {
    height: 100%;
}
.map-pin {
    position: absolute;
    width: 24px;
    height: 40px;
    background: url(../images/pin.svg) no-repeat center center;
}
.map-camera {
    position: absolute;
    width: 30px;
    height: 30px;
    background: url(../images/map-camera.png) no-repeat center center;
    transition: transform 0.5s;
    transform-origin: 8px 8px;
    &.selected {
        background-image: url(../images/map-camera-selected.png);
    }
}
.map-camera-fixed {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(../images/map-camera-fixed.svg) no-repeat center center;
    &.selected {
        background-image: url(../images/map-camera-fixed-selected.svg);
    }
}
.camera {
    position: absolute;
    background: #000;
    color: #fff;
    transition: all 0.5s;
}
.camera-toggle {
    position: absolute;
    margin-left: -25px;
    width: 50px;
    height: 25px;
    background: url(../images/toggle.svg) no-repeat center bottom;
    &, &:before {
        position: absolute;
        left: 50%;
    }
    &:before {
        content: "";
        top: 50%;
        transition: all 0.5s;
        width: 16px;
        height: 16px;
        margin: -8px 0 0 -8px;
        background: url(../images/toggle-pointer.svg) no-repeat center center;
        transform: rotate(-180deg);
    }
}
.camera-hd {
    position: relative;
    margin: 10px 0;
    height: 108px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    ul {
        display: flex;
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: -80px;
    }
    li {
        position: relative;
        flex-shrink: 0;
        width: 160px;
        border: 2px solid transparent;
        &:last-child {
            margin-right: 240px;
        }
        &, img {
            border-radius: 4px;
        }
        img {
            width: 155px;
            height: 100px;
            vertical-align: middle;
        }
        &:after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
            width: 100%;
            height: 100%;
            background: url(../images/play.svg) no-repeat center center;
        }
    }
    .selected {
        border-color: #FF5E05;
    }
}
.camera-bd {
    display: flex;
    align-items: center;
    margin: 10px;
}
.camera-bd-aside {
    width: 105px;
    font-size: 24px;
}
.camera-bd-main {
    flex-grow: 1;
    padding-left: 10px;
}
.camera-tools {
    display: flex;
    justify-content: center;
    .item-main {
        flex-grow: 1;
        position: relative;
        span {
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            transform: translateY(-50%);
            padding-left: 55px;
        }
    }
}
.camera-tools-item {
    position: relative;
    margin-left: 7px;
    &:first-child {
        margin-left: 0;
    }
    em,
    > button {
        display: inline-block;
        width: 48px;
        height: 48px;
        border-radius: 100px;
        background: rgba(255, 255, 255, 0.4);
        background-repeat: no-repeat;
        background-position: center center;
        vertical-align: middle;
    }
    em {
        background-color: #FFA500;
        background-image: url(../images/camera.svg);
    }
    .item-panorama {
        background-image: url(../images/panorama.svg);
    }
    .item-camera {
        background-image: url(../images/camera2.svg);
    }
    .item-video {
        background-image: url(../images/video.svg);
    }
    .item-more {
        background-image: url(../images/more.svg);
    }
    .item-share {
        background-image: url(../images/share.svg);
    }
    .item-feed {
        background-image: url(../images/feed.svg);
    }
    .item-mark {
        background-image: url(../images/mark.svg);
    }
}
.camera-ft {
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.camera-popup {
    position: fixed;
    z-index: 100;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 10px 0 10px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABGdBTUEAALGPC/xhBQAAAD1JREFUGBljvHLhwn8GHIARSZwJiY3BRDYBr0KQTphiggphiolSCFJMvEKYG0C68AHiTQSZQoypcBMJKQYAEXoJgry6g4oAAAAASUVORK5CYII=);
    .camera-tools {
        width: 300px;
        margin: 0 auto;
        padding-bottom: 10px;
        li {
            flex-grow: 1;
            text-align: center;
        }
        span {
            display: block;
            color: #000;
            line-height: 1.5;
        }
    }
}
.camera-popup-close {
    display: block;
    width: 100%;
    height: 60px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    background: none;
    font-size: 19px;
}
.search {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 10px;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}
.search-text {
    position: relative;
    max-width: 345px;
    margin: 0 auto;
    height: 100%;
}
.search-form {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.search-toggle {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 48px;
    height: 48px;
    background: rgba(255, 255, 255, 0.8) url(../images/search.svg) no-repeat center center;
    border-radius: 100px;
}
.search-field {
    display: block;
    width: 100%;
    padding: 10px 50px;
    border: 0;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.3) url(../images/search-field.svg) no-repeat 15px center;
    line-height: 28px;
    font-size: 16px;
}
.search-clear,
.search-text-voice {
    position: absolute;
    right: 5px;
    top: 0;
    width: 48px;
    height: 48px;
    background: no-repeat center center;
}
.search-clear {
    background-image: url(../images/search-clear.svg);
}
.search-text-voice {
    background-image: url(../images/voice.svg);
}
.suggest {
    height: 100%;
    padding-top: 70px;
    li {
        margin-bottom: 10px;
        padding: 15px;
        border-radius: 12px;
        background: rgba(255, 255, 255, 0.3);
    }
}
.suggest-bd {
    position: relative;
    height: 100%;
    overflow: auto;
    outline: 0;
    -webkit-overflow-scrolling: touch;
}
.suggest-item-aside {
    float: left;
    width: 128px;
    height: 72px;
    margin-right: 10px;
    border-radius: 5px;
    background: #D8D8D8;
}
.suggest-item-main {
    overflow: hidden;
    color: #fff;
    h3 {
        margin-bottom: 5px;
    }
}
.search-voice {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
}
.search-voice-hd {
    width: 70%;
    max-width: 400px;
    margin: 120px auto 0 auto;
    font-size: 24px;
    text-align: center;
}
.search-voice-ft {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 100%;
    text-align: center;
    label {
        display: block;
        font-size: 18px;
    }
}
.search-voice-button {
    position: relative;
    width: 56px;
    height: 56px;
    margin: 10px auto;
    button {
        display: block;
        position: relative;
        z-index: 10;
        width: 56px;
        height: 56px;
        border-radius: 100px;
        background: #0B78E3 url(../images/search-voice.svg) no-repeat center center;
    }
    &:before,
    &:after {
        display: none;
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        border: 2px solid rgba(11, 120, 227, 0.4);
        border-radius: 200px;
        width: 56px;
        height: 56px;
        animation: voice 1s infinite;
    }
    &:before {
        background: rgba(11, 120, 227, 0.05);
    }
    &:after {
        animation: voice 3s infinite;
    }
    &.selected {
        &:before,
        &:after {
            display: block;
        }
    }
}
@keyframes voice {
    from {
        width: 56px;
        height: 56px;
    }
    to {
        width: 110px;
        height: 110px;
        opacity: 0.5;
    }
}
.search-close {
    position: absolute;
    right: 20px;
    bottom: 70px;
    width: 36px;
    height: 36px;
    background: url(../images/close.png) no-repeat center;
}
.view {
    display: none;
    position: relative;
    z-index: 10;
}
.view-close {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 28px;
    height: 28px;
    background: url(../images/close.svg) no-repeat center center;
    background-size: cover;
}
.zoom {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 60px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.6);
    &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        height: 65%;
        transform: translateY(-50%);
        border-left: 1px solid #4a4a4a;
    }
    button {
        float: left;
        width: 30px;
        height: 30px;
        background: no-repeat center center;
    }
    .zoom-in {
        background-image: url(../images/zoom-in.svg);
    }
    .zoom-out {
        background-image: url(../images/zoom-out.svg);
    }
}
.view-bd {
    &:before {
        content: "";
        display: block;
        padding-top: 56%;
    }
}
.view-bd-main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.view-tools {
    display: flex;
    position: absolute;
    left: 10px;
    bottom: 10px;
    align-items: center;
    .camera-tools {
        li {
            margin-left: 15px;
            + li {
                margin-left: 15px;
            }
        }
    }
}
.minimap {
    position: relative;
    width: 54px;
    height: 54px;
    border-radius: 4px;
    background: url(../images/minimap.svg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
}
.minimap-bd {
    position: absolute;
    left: 18px;
    top: -1px;
    width: 46px;
    height: 56px;
    transition: all 0.5s;
    transform-origin: 10px center;
    background: url(../images/minimap-pointer.svg) no-repeat;
    background-size: cover;
}
.minimap-reset {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 18px;
    height: 18px;
    background: url(../images/reset.svg) no-repeat center center;
}
.view-tab {
    position: absolute;
    right: 20px;
    bottom: 10px;
    font-size: 0;
    button {
        width: 50px;
        height: 30px;
        background: #000;
        font-size: 14px;
        color: #fff;
        &:first-child {
            border-radius: 4px 0 0 4px;
        }
        &:last-child {
            border-radius: 0 4px 4px 0;
        }
    }
}
.view-panel {
    position: absolute;
    right: 10px;
    bottom: 45px;
    width: 120px;
    height: 120px;
    .selected {
        display: block;
    }
}
.view-panel-compass,
.view-panel-direction {
    display: none;
    height: 100%;
    background-size: contain;
}
.view-panel-compass {
    position: relative;
    border-radius: 200px;
    background: rgba(0, 0, 0, 0.8) url(../images/compass.svg) no-repeat center center;
}
.view-panel-compass,
.view-panel-item {
    transition: all 0.3s;
}
.view-compass-item {
    position: absolute;
    color: #747474;
    transform-origin: center center;
}
.view-compass-north {
    top: 8px;
    left: 53px;
}
.view-compass-en,
.view-compass-es,
.view-compass-ws,
.view-compass-wn {
    width: 10px;
    font-size: 12px;
}
.view-compass-en {
    left: 88px;
    top: 17px;
}
.view-compass-east {
    left: 100px;
    top: 52px;
}
.view-compass-es {
    left: 88px;
    top: 73px;
}
.view-compass-south {
    left: 53px;
    top: 98px;
}
.view-compass-ws {
    left: 20px;
    top: 73px;
}
.view-compass-west {
    left: 6px;
    top: 52px;
}
.view-compass-wn {
    left: 20px;
    top: 17px;
}
.view-panel-direction {
    position: relative;
    background: url(../images/direction.svg) no-repeat center center;
}
.view-direction-button {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}
.view-direction-north {
    top: 8px;
    left: 50%;
    margin-left: -15px;
    border-bottom: 20px solid #747474;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    &:active {
        border-bottom-color: #fff;
    }
}
.view-direction-east {
    right: 8px;
    top: 50%;
    margin-top: -15px;
    border-left: 20px solid #747474;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    &:active {
        border-left-color: #fff;
    }
}
.view-direction-south {
    bottom: 8px;
    left: 50%;
    margin-left: -15px;
    border-top: 20px solid #747474;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    &:active {
        border-top-color: #fff;
    }
}
.view-direction-west {
    left: 8px;
    top: 50%;
    margin-top: -15px;
    border-right: 20px solid #747474;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    &:active {
        border-right-color: #fff;
    }
}
.view-direction-center {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background: #747474;
    line-height: 1;
    font-size: 18px;
    text-align: center;
    color: #fff;
    &:active {
        background: #fff;
        color: #747474;
    }
}
.view-selected-compass {
    .view {
        display: block;
    }
    .view-tab-compass {
        background: #99B9C7;
    }
    .view-panel-compass {
        display: block;
    }
}
.view-selected-direction {
    .view {
        display: block;
    }
    .view-tab-direction {
        background: #99B9C7;
    }
    .view-panel-direction {
        display: block;
    }
}
@media screen and (orientation:portrait) {
    .camera {
        left: 0;
        bottom: 0;
        width: 100%;
        transform: translateY(100%);
        &.selected {
            transform: translateY(0);
            margin-top: -25px;
            .camera-toggle:before {
                transform: rotate(0);
            }
        }
    }
    .camera-toggle {
        top: -25px;
    }
    .view {
        .camera-tools {
            display: none;
        }
    }
}
@media screen and (orientation:landscape) {
    .camera {
        top: 0;
        right: 0;
        width: 290px;
        height: 100%;
        transform: translateX(100%);
        &.selected {
            transform: translateX(0);
            .camera-toggle:before {
                transform: rotate(0);
            }
        }
    }
    .camera-hd li:last-child {
        margin-right: 80px;
    }
    .camera-toggle {
        top: 50%;
        left: -12px;
        transform: rotate(-90deg);
    }
    .camera-tools-first-text {
        display: none;
    }
    .view-selected-compass,
    .view-selected-direction {
        width: 100%;
        .view-bd {
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            transform: translateY(-50%);
        }
    }
    .view {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000;
    }
}
.select {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 70px;
    width: 240px;
    border-radius: 8px;
    margin-left: -120px;
    background: #fff;
    text-align: center;
    font-size: 14px;
    .selected > & {
        display: block;
    }
    h2 {
        line-height: 30px;
        color: #000;
    }
    &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -10px;
        margin-left: -9px;
        width: 0;
        height: 0;
        overflow: hidden;
        border-top: 10px solid #fff;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
    }
}
.select-bd {
    display: flex;
    border-top: 1px solid #000;
    button {
        display: block;
        width: 100%;
        height: 35px;
    }
    li {
        width: 50%;
    }
    li + li {
        border-left: 1px solid #000;
    }
}
.popup-wrap {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.popup {
    position: fixed;
    left: 10px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 12px;
    background: #fff;
}
.popup-hd {
    line-height: 60px;
    text-align: center;
    font-size: 18px;
}
.tab-button {
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 0;
    button {
        width: 75px;
        height: 30px;
        border: 1px solid #0076FF;
        color: #0076FF;
        font-size: 14px;
        &:first-child {
            border-radius: 4px 0 0 4px;
        }
        &:last-child {
            border-radius: 0 4px 4px 0;
        }
    }
    .selected {
        background: #0076FF;
        color: #fff;
    }
}
.checklist {
    max-height: 384px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    label {
        display: block;
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        line-height: 47px;
        &:first-child {
            border-top: 0;
        }
    }
    input {
        margin: 0 10px;
        vertical-align: middle;
    }
}
.popup-ft {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    button {
        display: block;
        width: 50%;
        height: 43px;
        color: #0076ff;
        font-size: 17px;
        + button {
            border-left: 1px solid rgba(0, 0, 0, 0.1);
        }
    }
}
.mark-title {
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.1);
}
.mark-list {
    padding: 0 15px;
    li {
        margin: 20px 0;
    }
    label {
        display: block;
        margin-bottom: 10px;
        font-size: 17px;
    }
    select {
        display: block;
        width: 100%;
        height: 25px;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
}
.map-popup {
    position: absolute;
    z-index: 50;
    transform: translateX(-50%) translateY(-100%);
    margin: -5px 0 0 25px;
    width: 256px;
    border: 1px solid #C3C3BC;
    background: #fff;
    padding: 20px;
    h3 {
        margin-bottom: 10px;
    }
    &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -24px;
        margin-left: -15px;
        width: 30px;
        height: 30px;
        background: url(../images/arrow.svg) no-repeat center bottom;
    }
}
.map-popup-bd {
    margin-bottom: 10px;
    height: 120px;
    overflow: hidden;
}
.map-popup-ft {
    display: flex;
    justify-content: space-between;
    button {
        padding-left: 30px;
        background-repeat: no-repeat;
        background-position: left center;
        color: #747474;
    }
    .map-popup-live {
        padding-left: 25px;
    }
}
.map-popup-live {
    background-image: url(../images/live.svg);
}
.map-popup-screenshot {
    background-image: url(../images/screenshot.svg);
}
.map-popup-video {
    background-image: url(../images/video2.svg);
}
.map-popup-close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    color: #999;
}
