<div class="popup-wrap" v-if="selected">
    <div class="camera-popup" >
        <ul class="camera-tools">
            <li class="camera-tools-item">
                <button @click="share" class="item-share" type="button" title="转发"></button>
                <span>转发</span>
            </li> 
            <li class="camera-tools-item">
                <button @click="feed" class="item-feed" type="button" title="订阅"></button>
                <span>订阅</span>
            </li>
            <li class="camera-tools-item">
                <button @click="mark" class="item-mark" type="button" title="收藏"></button>
                <span>收藏</span>
            </li> 
        </ul>
        <button @click="selected = false" class="camera-popup-close" type="button">关闭</button>
    </div>
</div>

