<div class="popup-wrap" v-if="selected">
    <div class="popup share-popup">
        <h2 class="popup-hd">转发</h2>
        <div class="popup-bd">
            <div class="tab-button">
                <button :class="{'selected': tab === '委办单位'}" @click="tab = '委办单位'" type="button">委办单位</button>
                <button :class="{'selected': tab === '今日值班'}" @click="tab = '今日值班'" type="button">今日值班</button>
            </div>
            <div class="checklist" v-show="tab === '委办单位'">
                <label><input type="checkbox"> 公安</label>
                <label><input type="checkbox" checked> 急救</label>
                <label><input type="checkbox"> 消防</label>
                <label><input type="checkbox"> 交管</label>
            </div>
            <div class="checklist" v-show="tab === '今日值班'">
                <label><input type="checkbox"> 交管</label>
                <label><input type="checkbox"> 消防</label>
                <label><input type="checkbox" checked> 急救</label>
                <label><input type="checkbox"> 公安</label>
            </div>
        </div>
        <div class="popup-ft">
            <button @click="close" type="button">取消</button>
            <button @click="submit" type="button">确定</button>
        </div>
    </div>
</div>
