<div ref="camera" class="camera" :class="[
        selected ? 'selected' : '',
        'view-selected-' + (viewData || {}).selected
    ]">
    <div class="camera-toggle" @click="selected = !selected"></div>

    <component v-if="viewData" is="camera-view" :view-data="viewData" @close="viewData = null"></component>
    
    <div ref="camera-hd" class="camera-hd">
        <ul>
            <li v-for="n in 10" :class="{'selected': n === 2}" @click="viewData = {selected: 'compass'}">
                <a href="">
                    <img src="http://cyjctrip.qiniudn.com/109173/1397404901439p18ldt4vrukbm1sfe2q51asp1fjt3.jpg" alt="">
                </a>
            </li>
        </ul>
    </div>
    
    <div class="camera-bd">
        <div class="camera-bd-aside">12345</div>
        <div class="camera-bd-main">北京市海淀区玉泉路小学东路十字交叉路口东侧</div>
    </div>
    
    <div class="camera-ft">
        <ul class="camera-tools">
            <li class="camera-tools-item item-main">
                <em><span class="camera-tools-first-text">半球机</span></em>
            </li>
            <li class="camera-tools-item" :class="{'selected': panorama}">
                <button class="item-panorama" type="button" title="全景" @click="panorama = !panorama"></button>
                <div class="select">
                    <h2>选择你需要的场景</h2>
                    <ul class="select-bd">
                        <li>
                            <button type="button">360度自动全景</button>
                        </li> 
                        <li>
                            <button type="button">手动全景</button>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="camera-tools-item">
                <button class="item-camera" type="button" title="照片"></button>
            </li>
            <li class="camera-tools-item camera-tools-video">
                <button class="item-video" type="button" title="视频"></button>
            </li>
            <li class="camera-tools-item">
                <button @click="popup" class="item-more" type="button" title="更多"></button>
            </li>
        </ul>
    </div>
</div>
