<div class="map" :style="style">
    <div id="map-bd" class="map-bd"></div>
    
    <!--<div class="map-popup">
        <a href="#close" class="map-popup-close" title="关闭">&times;</a>
        <h3>汇贤大厦楼顶（8537）</h3>
        <div class="map-popup-bd"><img src="http://cyjctrip.qiniudn.com/109173/1397404901439p18ldt4vrukbm1sfe2q51asp1fjt3.jpg" alt=""></div>
        <div class="map-popup-ft">
            <button class="map-popup-live" type="button">直播</button>
            <button class="map-popup-screenshot" type="button">截图</button>
            <button class="map-popup-video" type="button">视频</button>
        </div>
    </div>-->
</div>
