<div class="component">
    <button
        v-show="!type"
        @click="type = 'text'"
        class="search-toggle" type="button" title="搜索"></button>

    <div class="search" v-show="type" @touchmove.prevent>
        <div class="overlay" @click="hideSearch"></div>

        <div class="search-text" v-show="type === 'text' " @click.self="hideSearch">
            <div class="search-form">
                <input autofocus v-model.trim="keyword" ref="keyword" class="search-field" placeholder="输入地址" type="search">
                <button v-if="keyword.length" @click="keyword = ''" class="search-clear" type="button" title="清除"></button>
                <button v-if="keyword.length <= 0" class="search-text-voice" @click="type = 'voice' " type="button" title="语音搜索"></button>
            </div>
            
            <div class="suggest" v-if="keyword">
                <div class="suggest-bd" tabindex="-1">
                    <ul>
                        <li class="clearfix" v-for="(item, index) in suggest" @click="showItem(item, index)">
                            <div class="suggest-item-aside"></div>
                            <div class="suggest-item-main">
                                <h3>{{item}}航天桥西口（23234）</h3>
                                <div>球机</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="search-voice" v-show="type === 'voice' ">
            <div class="search-voice-hd">北京市海淀区玉泉路小学东路十字路口......</div>
            <div class="search-voice-ft">
                <div class="search-voice-button selected">
                    <button type="button" title="点击说话"></button>
                </div>
                <label>点击说话</label>
            </div>
            <button @click="hideSearch" class="search-close" type="button" title="关闭"></button>
        </div>
    </div>
</div>
