<div class="view">
    <button class="view-close" title="关闭" type="button" @click="$emit('close')"></button>
    
    <div class="view-bd">
        <div class="view-bd-main" style="background: url(http://img2.imgtn.bdimg.com/it/u=3821120291,3975031552&fm=214&gp=0.jpg) no-repeat center center; background-size: cover;"><!-- width:height = 16:9 -->
        </div>
    </div>

    <div class="zoom">
        <button class="zoom-in" type="button" title="放大"></button>
        <button class="zoom-out" type="button" title="缩小"></button>
    </div>

    <div class="view-tools">
        <div class="minimap">
            <div class="minimap-bd" style="transform: rotate(-40deg);"></div>
            <button class="minimap-reset" title="归位" type="button"></button>
        </div>

        <ul class="camera-tools">
            <li class="camera-tools-item">
                <button class="item-panorama" type="button" title="全景"></button>
            </li>
            <li class="camera-tools-item">
                <button class="item-camera" type="button" title="照片"></button>
            </li>
            <li class="camera-tools-item">
                <button class="item-video" type="button" title="视频"></button>
            </li>
            <li class="camera-tools-item">
                <button @click="popup" class="item-more" type="button" title="更多"></button>
            </li>
        </ul>
    </div>   

    <div class="view-panel">
        <div class="view-panel-compass">
            <span class="view-compass-item view-compass-north">北</span>
            <span class="view-compass-item view-compass-en">东北</span>
            <span class="view-compass-item view-compass-east">东</span>
            <span class="view-compass-item view-compass-es">东南</span>
            <span class="view-compass-item view-compass-south">南</span>
            <span class="view-compass-item view-compass-ws">西南</span>
            <span class="view-compass-item view-compass-west">西</span>
            <span class="view-compass-item view-compass-wn">西北</span>
        </div>

        <div class="view-panel-direction">
            <button class="view-direction-button view-direction-north" type="button">北</button>
            <button class="view-direction-button view-direction-east" type="button">东</button>
            <button class="view-direction-button view-direction-south" type="button">南</button>
            <button class="view-direction-button view-direction-west" type="button">西</button>
            <button class="view-direction-center" type="button">快</button>
        </div>
    </div>

    <div class="view-tab">
        <button @click="viewData.selected = 'compass' " class="view-tab-compass" type="button">罗盘</button>
        <button @click="viewData.selected = 'direction' " class="view-tab-direction" type="button">方向</button>
    </div>
</div>
